.float-right{
    position: absolute;
    top:0px;
    left:70%;
    background: $mat-black;
    width:30%;
    height:100px;
    padding-top:1rem;    
}

.radio-buttons{
    margin-bottom:30px;
}

.radio-buttons input[type="radio"]{
    margin-left:10px
}