.header{
    background: $mat-black;
    color: orange;
    margin-bottom: 5rem;
    width:70%;
    height:100px;
    padding-top:1rem;
}

.header__title{
    font-size:$m-size;
    margin:0;
    padding-left:5rem;
    display:inline;
}





