.Modal {
    position: absolute;
    top: 40px;
    left: 500px;
    right: 500px;
    bottom: 650px;
    background-color: $mat-black;
    color: white;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFB74D;   
  }

.Overlay h2, .Overlay h3{
    padding-left:20px;
} 