body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFB74D;   
    color:white;
}

.inline-block{
    text-align: left;    
    display:inline-block;
    font-size:$m-size;
    margin-left:60px;
}