//colours
$mat-black: #1C1C1A;

//screen width
$screen-width:  100%;
$screen-height: 100%;

//spacing
$m-size : 1.6rem;
$ml-size: 2.8rem;
$l-size : 3.2rem;
$ll-size: 4.2rem;
$xl-size: 4.8rem;
$s-size :1.2rem;
$margin-spacing:3rem;

//width
$width:95%;


//height
$height : 400px;

//padding
$padding1rem:1rem;
$padding2-5rem:2.5rem;
$padding2rem:2rem;
$padding3rem:3rem;
$padding6rem:6rem;



